# configuration file for our custom widget

<Connectivity>
  ConnectionType {{ ConnectionType }}
</Connectivity>

<Account Information>
  Username {{ userName }}
  Password {{ userPassword }}
</Account Information>

<System Information>
  DistributionType {{ ansible_os_family }}
</System Information>
